    <!-- external Style Sheet --> 
   
     body {
        background: #85d8dd
        color: #400D0C;
        padding:100;
        font-size: 20px;
    }
    
    h1 {
        font-family: 'Libre Baskerville', serif;
        font-size: 70px;
        text-align: center;
        text-transform: uppercase
        
        
        
    }
    
    h2, h3 {
        font-family: 'Libre Baskerville', serif;
        font-size: 30px;
        font-weight: normal;
        text-align: center;
        margin: 10px 0 10px 0;
    
        
    }

    p {
       
        font-size: 18px;
        font-weight: normal;
        text-align: center;
        margin: 30px 0 30px 0;
    
    }
    
    .intro {
        font-style: italic;
        font-size: 18px;
        text-align: center;
    }
    
    article {    
        min-width: 300px;
        max-width: 900px;
        margin: auto;
    }
    a {
        color: grey;
        text-decoration: none;
        text-transform: uppercase;
        letter-spacing: 2px;
        align: center;
    }
    
    a:hover {
        color: #870710;
    }
    
    nav {
        <!--border-top: 1px solid #ccc;
        border-bottom: 1px solid #ccc;-->
    }
        
    nav ul {
        text-align: center;
        list-style-type: none;
    }
    
    nav ul li {
        display: inline;
        margin: 10px;
    
    }
    
    img {
        display: block;
        margin: 0 auto;
    }
    
    
    footer {
    margin-top: 30px;
    